<app-navbar></app-navbar>
<h3 class="text-center mt-5 p-2">Before we start...</h3>
<div class="container d-flex mt-5">

  <div class="d-flex flex-sm-row  flex-sm-fill text-left">
<!--    <div class="container">-->
<!--      <h5>Categories available</h5>-->

<!--      <div style="height: 320px"-->
<!--           cdkDropList-->
<!--           #todoList="cdkDropList"-->
<!--           [cdkDropListData]="available"-->
<!--           [cdkDropListConnectedTo]="[doneList]"-->
<!--           class="example-list  overflow-auto scrollbar-custom-style shadowed"-->
<!--           (cdkDropListDropped)="drop($event)">-->
<!--        <div class="card border border-info card-body m-2 border-primary shadowed" *ngFor="let item of available"-->
<!--             cdkDrag>{{item}}</div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container">
<!--      <h5>Drop your favorites in the box</h5>-->

<!--      <div style="height: 320px"-->
<!--           cdkDropList-->
<!--           #doneList="cdkDropList"-->
<!--           [cdkDropListData]="selected"-->
<!--           [cdkDropListConnectedTo]="[todoList]"-->
<!--           class="example-list  overflow-auto scrollbar-custom-style shadowed"-->
<!--           (cdkDropListDropped)="drop($event)">-->
<!--        <div class="card border border-secondary card-body m-2 border-success shadowed" *ngFor="let item of selected"-->
<!--             cdkDrag>{{item}}</div>-->
<!--      </div>-->



      <div class="k-multiselect-wrap">
        <p class="font-weight-bold mb-0">Tell us what you like to play:</p>
        <hr>
        <kendo-multiselect [data]="allCategories" placeholder="Select categories..." [(ngModel)]="selected"></kendo-multiselect>
        <hr>
        <button class="btn btn-rounded btn-outline-info btn-secondary my-4 waves-effect z-depth-0 shadowed align-self-center ml-2" style="background-color: white" (click)="skip()">Skip this step
        </button>

        <div class="divider"></div>

        <button class="btn btn-rounded btn-outline-info btn-secondary my-4 waves-effect z-depth-0 shadowed align-self-center" style="background-color: white" (click)="updatePreferences()">Next
        </button>

      </div>



    </div>
  </div>
</div>





<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div></div>
    <br>
    <br>
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-6 mr-auto my-md-4 my-0 mt-4 mb-1">


        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Work hard, play harder</h5>
        <p>We believe in a passionate community and the power of teamwork.</p>
        <p>Our belief is that we can create a circle of trust amongst employees. This is why we will keep our
          content open to everyone and we impose almost no restrictions. We strive to improve the workplace!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a [routerLink]="['partners']" (click)="seeCompanies()" class="  ">
                <h5 style="">Partners <i class="fa fa-angle-double-right"></i></h5>
              </a>
            </p>
          </li>
          <li>
            <p>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> Bucharest, Romania</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i> dizertatie2023@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> + 07 288 967 98</p>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->
